/* styles.css */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(Flame\ on\ swirl.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.navbar-brand {
    margin-right: 0;
}

/*navbar-brand img {
    max-width: 5%;
    max-height: 5%; */

@media screen and (min-width:992px) {
    .navbar .container-fluid {
        flex-direction: column;
    }
 }
    
.navbar .navbar-nav .nav-link {
    color: #11222c;
    font-size: 2em;

}

.navbar .navbar-nav {
    margin-top: 5em;

}

.hidden {
    display: none;
}

#splash-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*background: linear-gradient(orange, #ccc); /* Bright orange and grey */
    color: white;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkorange;
}

/* Splash screen button styling */
#splash-screen button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#splash-screen button:hover {
    background-color: darkorange;
}
